p{
font-family:Arial,sans-serif;
font-size:18px;
color:white;
background-color:navy;
padding:10px;
border-radius:8px;
}
.intro{
color:darkgreen;
background-color:lightblue;
}
#highlight{
color:white;
background-color:crimson;
font-weight:bold;
}
.group{
color:black;
background-color:lightblue;
font-style:italic;
padding:10px;
}
